.process-top {
  height: 96px;
  box-sizing: border-box;
}
.process-top .process-top-back-title {
  height: 52px;
  padding: 0 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 16px;
  font-family: PingFang SC-Bold, PingFang SC;
  font-weight: bold;
  color: #323232;
}
.process-top .process-top-back-title .process-top-back-box {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
}
.process-top .process-top-back-title .process-top-back-box .process-top-back {
  width: 24px;
  height: 24px;
}
.process-top .process-top-back-title .process-top-right-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #323232;
}
.process-top .process-top-back-title .process-top-right-icon .process-top-right-icon-img {
  width: 12px;
  height: 14px;
}
.process-top .process-top-screen {
  height: 44px;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #212121;
}
.process-top .process-top-screen .process-top-screen-item {
  display: flex;
  align-items: center;
  margin-right: 12px;
}
.process-top .process-top-screen .process-top-screen-item .process-screen-item-icon {
  width: 12px;
  height: 12px;
  margin-left: 4px;
}
.process-content {
  flex: 1;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #f7f7f7;
}
.process-content .process-content-title {
  margin-bottom: 12px;
  font-size: 10px;
  font-family: PingFang SC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
}
.process-content .process-content-main {
  flex: 1;
  padding: 16px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px;
}
.process-content .process-content-main .process-main-title {
  margin-bottom: 12px;
  font-size: 14px;
  font-family: PingFang SC-Bold, PingFang SC;
  font-weight: bold;
  color: #323232;
}
.process-record-status {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.process-record-status .process-agree-with {
  color: #2773f2;
  cursor: pointer;
}
.process-record-status .process-refuse {
  color: #f53e56;
  cursor: pointer;
}
.process-input {
  margin-top: 15px;
  height: 46px;
  background: #f5f6fa;
  border-radius: 4px;
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
}
